<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="DemoXmlfile" verbose="1" >
  <test name="Yahoo App Test" >
  
  
     <parameter name="url" value="https://login.yahoo.com/?.intl=in"></parameter>
     <parameter name="username" value="sufi3108@gmail.com"></parameter>    
  
  
    <classes>
       <class name="com.parameters.parametertest" />
    
    </classes>
  </test>
</suite>
